---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: k8chart
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8chart
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
